.hamburgerActive span:nth-child(1) {
    transform: rotate(45deg) ;
  }
  
  .hamburgerActive span:nth-child(2) {
    scale: 0;
  }
  
  .hamburgerActive span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .navbarFixed {
    position: fixed;
    backdrop-filter: blur(10px);
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Agar berada di atas elemen lain */
    background-color: rgba(255, 255, 255, 0.8); /* Tambahkan latar belakang transparan jika dibutuhkan */
    transition: all 0.3s ease; /* Animasi opsional */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }